
/* var color */
:root{
    --orange:#CD4215;
    --gray:#3B3B3B;
    --darkgray:#1F1F1F;
}



/* regole FONT */
body{
    font-family: 'Montserrat', sans-serif !important; 
}
h3{
    font-weight: 700;
}




/* CONTAINERS rules */

/* jumbo */
.container_h100{
    height: 100%;
}





/* BUTTON RULES */



a.btn_orange{
    background-color:var(--orange) ;
    color: white ;
}
a.btn_gray{
    background-color: var(--gray);
    
}
li a.btn_gray:hover{
    background-color: black;
}

/* active / hover */
.active{
    border: 2px solid #0072ce;
    padding: 3px;
}
#playstation_5.active_bt{
    border-bottom:2px solid #0072ce ;
}

.display_none{
    opacity: 75%;
    transition: 1s;
    cursor: pointer;
}

.display_none:hover{
    opacity: 100%;
}


/* Header rules */

/* navbar */
#main_header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

/* bar  TOP */

#top_bar_sony{
    background-color:black;
    padding: 0.5rem;
}
/* nav bar dropdown */

a.dropdown-toggle::after{
    border: none;
    font: var(--fa-font-solid);
    content: "\f107";
    
}
a.dropdown-toggle{
    display:flex ;
    align-items: center;
    font-weight: 500;
    
}

#main_header a.nav-link{
    color: black;
}

/* MAIN rules */
/* jumbo section */
#jumbo{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    height: 585px;
    color: white;
    
}
.row_1{
    height: 100%;
}

#jumbo p{
    font-size:15px;
}

/* IMG JUMBO TOP*/
#returnal_img_w{
    width:55%;
}

/* IMG JUMBO SLIDER */
.img_rounded_slider{
    border-radius: 15px;
} 

/* PLAYSTATION5 */

.font_size_12{
    font-size: 12px;
    font-weight: 500;
}
.fs_36{
    font-size: 36px;
    font-weight: 500;
}
.text_blue{
    color: blue;
}

/* ADVENTURE */
#adventure{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    
    color: white;
}

#adventure_slider{
    background-color: var(--darkgray);
}







/* MEDIA QUERY  */
/*jumbo */
/* @media(max-width:575px){
    .col_xs{
        flex: 0 0 auto !important;
        width: 50% !important;
    }
    .col_xs_2{
        flex: 0 0 auto !important;
        width: 100% !important;
    }
} */

/* fine media query */